.line {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(300px * sqrt(2));
  height: 2px;
  background-color: #079b7b;
  transform-origin: 0 100%;
  animation: cross 0.3s linear forwards;
}

@keyframes cross {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
