.button {
  background-color: #079b7b;
  text-transform: uppercase;
  color: #eee;
  border-radius: 10px;
  width: 200px;
  padding: 20px 40px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s linear;
}

.button:hover {
  background-color: #08866b;
}
